# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.egg
*.pyo

# Virtual environment
env/
venv/
textutilvenv/

ENV/
*.env

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
*.pyc

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Node (in case you add React frontend later)
node_modules/
build/
dist/
